* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  color: #9b9b9b;
}

.header {
  min-height: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.info-telefone-wrapper {
  width: 100%;
  background-color: #020085;
}

.info-telefone-wrapper p {
  color: white;
}

.info-telefone-wrapper div {
  max-width: 894px;
  width: 80%;
  display: flex;
  justify-content: end;
  padding: 4px 0;
  gap: 16px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  max-width: 894px;
  width: 80%;
  justify-content: space-between;
  align-items: baseline;
}

.lista-nav-bar {
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
}

.ativador-submenu,
.ativador-submenu-2 {
  position: relative;
  cursor: pointer;
}

.ativador-submenu-2:hover .submenu-2,
.ativador-submenu:hover .submenu-1 {
  display: block;
}

.submenu-1 {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  z-index: 9999;
}

.submenu-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 9999;
}

.submenu-1:hover,
.submenu-2:hover {
  display: block;
}

.active {
  display: block;
}

.submenu-1 li {
  background-color: #020085;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
}

.slider-wrapper {
  height: 290px;
  margin: 0 auto;
  background-color: #d9d9d9;
  margin-top: 4px;
  width: 100%;
}

.caixa-teste-wrapper {
  display: flex;
  max-width: 894px;
  width: 80%;
  margin: 8px auto 48px;
  justify-content: space-between;
}

.caixa-teste-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.caixa-teste-wrapper h2 {
  text-transform: uppercase;
  margin-top: 14px;
}

.caixa-teste-wrapper ul {
  padding-left: 16px;
}

.caixa-destaque {
  max-width: 894px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.caixa-destaque ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 24px 0;
}

.caixa-destaque li {
  width: 196px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .caixa-destaque ul {
    justify-content: space-around;
    gap: 12px;
  }
  .caixa-destaque li {
    width: 205px;
  }
}

.footer {
  height: 175px;
  background-color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-footer {
  margin: 24px;
}

.info-rodape {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .caixa-destaque ul {
    justify-content: space-around;
    gap: 12px;
  }
  .caixa-destaque li {
    width: 205px;
  }
}

@media (max-width: 425px) {
  .caixa-destaque {
    width: 95%;
  }

  .info-telefone-wrapper div {
    justify-content: center;
  }

  .caixa-destaque ul {
    justify-content: space-around;
    gap: 0;
  }

  .caixa-destaque li {
    width: 196px;
    margin-bottom: 4px;
  }

  .slider {
    width: 90%;
  }

  .caixa-teste-wrapper {
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    gap: 12px;
  }

  .nav-bar {
    margin: 2px;
    gap: 4px;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lista-nav-bar {
    gap: 12px;
    width: 100%;
    justify-content: center;
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  .lista-nav-bar {
    gap: 6px;
    width: 100%;
    justify-content: center;
    font-size: 16px;
  }

  .caixa-teste-wrapper img {
    width: 310px;
  }
}